In [9]:
import pandas as pd


level = 0
datasets = pd.read_parquet(f'sarima_level{level}.parquet')
distr = datasets[['id', 'distr']].drop_duplicates()

errors = pd.read_parquet('errors.parquet')
performance = pd.read_parquet('performance.parquet')
features = pd.read_parquet('features.parquet')

In [10]:
performance.merge(distr, on='id', how='left').plot()

,mape,pi,fold,n,model,id,model_details,distr
0,1.405715,0.571429,12,714,SARIMAXTimeSeriesModel,0,"SARIMA(0,0,0)(1,0,0)7",normal
1,0.563950,0.714286,11,654,SARIMAXTimeSeriesModel,0,"SARIMA(0,0,0)(1,0,0)7",normal
2,1.551108,0.571429,10,594,SARIMAXTimeSeriesModel,0,"SARIMA(0,0,0)(1,0,0)7",normal
3,0.952770,0.857143,9,534,SARIMAXTimeSeriesModel,0,"SARIMA(0,0,0)(1,0,0)7",normal
4,0.679981,0.857143,8,474,SARIMAXTimeSeriesModel,0,"SARIMA(0,0,0)(1,0,0)7",normal

In [6]:
performance.head()

,mape,pi,fold,n,model,id,model_details
index,,,,,,,
0,1.405715,0.571429,12,714,SARIMAXTimeSeriesModel,0,"SARIMA(0,0,0)(1,0,0)7"
1,0.563950,0.714286,11,654,SARIMAXTimeSeriesModel,0,"SARIMA(0,0,0)(1,0,0)7"
2,1.551108,0.571429,10,594,SARIMAXTimeSeriesModel,0,"SARIMA(0,0,0)(1,0,0)7"
3,0.952770,0.857143,9,534,SARIMAXTimeSeriesModel,0,"SARIMA(0,0,0)(1,0,0)7"
4,0.679981,0.857143,8,474,SARIMAXTimeSeriesModel,0,"SARIMA(0,0,0)(1,0,0)7"

In [7]:
features.head()

,feature,impact,fold,model,n,id,model_details
index,,,,,,,
0,ar.S.L7,0.697001,12,SARIMAXTimeSeriesModel,714,0,"SARIMA(0,0,0)(1,0,0)7"
1,sigma2,1.720989,12,SARIMAXTimeSeriesModel,714,0,"SARIMA(0,0,0)(1,0,0)7"
0,ar.S.L7,0.684885,11,SARIMAXTimeSeriesModel,654,0,"SARIMA(0,0,0)(1,0,0)7"
1,sigma2,1.767289,11,SARIMAXTimeSeriesModel,654,0,"SARIMA(0,0,0)(1,0,0)7"
0,ar.S.L7,0.691048,10,SARIMAXTimeSeriesModel,594,0,"SARIMA(0,0,0)(1,0,0)7"